@import('reset');
@import('mixins/stretch');
@import('mixins/clearfix');

//colors
bg = #eee;
positive = #56dd00;
toolbarHeight = 100px;

body{
  background: bg;
}

h1{
  color: darken(bg, 75%);
  font-size: 25px;
  padding-left: 10px;
}

.hide { 
  position:absolute; 
  top:-1px; 
  left:-1px; 
  width:1px; 
  height:1px; 
}

textarea{
  resize:none;
}

.navbar-header {
    height: toolbarHeight;
    img {
        height: 100%;
    }
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
    float:right;
  li {
    display: inline-block;
    vertical-align:center
  }
}

.users{
  list-style-type: none;
  padding-left: 10px;
  font-size: 18px;
  input{
    display: block;
    font-size: 18px;
    height: 30px;
    margin: 5px 0;
  }
}



input[type="button"]{
  margin-top: 10px;
}

.awesome{
  color: positive;
}
